/* remove background from post entry cards to match theme background */
.post-entry {
    background: transparent;
}

/* remove background from post entry cards to match theme background */
.post-entry {
    background: transparent;
    border: none;
}

/* remove bottom margin of home-info */
/* .home-info {
    margin-bottom: 0;
} */

/* reduce height of home-info */
.first-entry {
    min-height: 160px;
}
